#PIAIC(Islamabad-Q1) , Batch-3 , Roll#-PIAIC56331 , Time  6:45 PM to 9:45PM

# string built-in function

In [1]:
name = "iqra iftikhar"
print(name)

iqra iftikhar

In [4]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# CAPITALIZE

In [6]:
print(name.capitalize())

Iqra iftikhar

# CASEFOLD

In [7]:
print(name.casefold())

iqra iftikhar

# CENTER

In [19]:
print(name.center(116))
print(name.center(70,'ðŸš€'))

                                                   iqra iftikhar
ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€iqra iftikharðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€

# COUNT

In [22]:
print(name.count('i'))
print(name.count('iqra'))

3
1

# ENDSWITH

In [28]:
print(name.endswith('iqra'))
print(name.endswith('iftikhar'))
print(name.endswith('khar',10,13))
print(name.endswith('khar',9,14))

False
True
False
True

# ENCODE

In [53]:
print('The string is', name)
print('The encoded version of string is;' , name.encode('ascii' , 'ignore'))

The string is iqra iftikhar
The encoded version of string is; b'iqra iftikhar'

# EXPANDTABS

In [62]:
str = 'i\tq\tr\ta'
print(str)
print(str.expandtabs())
print(str.expandtabs(5))

i	q	r	a
i       q       r       a
i    q    r    a

# FIND

In [65]:
print(name)
print(name.find('iqra'))
print(name.find('ra'))

iqra iftikhar
0
2

# FORMAT

In [73]:
str = "I am currently enrolled in PIAIC {}" 
print(str.format('Batch-3'))

I am currently enrolled in PIAIC Batch-3

# FORMAT-MAP

In [78]:
n1 = {'n':"Nidi", 'profession':["Teacher","enggineer"]} 
age ="{n} is 28 years old AND she is a {profession[0]} by profession" 
print(age.format_map(n1))

Nidi is 28 years old AND she is a Teacher by profession

# INDEX

In [80]:
print(name.index('iqra'))

0

# ISALNUM

In [83]:
print(name.isalnum())
name1 = 'iqra1'
print(name1.isalnum())

False
True

# ISALPHA

In [87]:
print(name)
print(name.isalpha())
var = 'alphabets'
print(var.isalpha())

iqra iftikhar
False
True

# ISASCII

In [91]:
print(name)
print(name.isascii()) 
test = 'pythonÂ©'
print(test.isascii())

iqra iftikhar
True
False

# ISDECIMAL

In [113]:
print(name.isdecimal())
num1 = "100000"
print(num1.isdecimal())

False
True

# ISDIGIT

In [114]:
print(name.isdigit())
print(num1.isdigit())

False
True

# ISIDENTIFIER

In [118]:
print(name.isidentifier())
print(num1.isidentifier())
VAR1 = "IQRA_IFTIKHAR"
VAR2 = "my_age_00"
print(id1.isidentifier())
print(id2.isidentifier())

False
False
True
True

# ISLOWER

In [119]:
print(name)
print(name.islower())

iqra iftikhar
True

# ISUPPER

In [121]:
print(name.isupper())
upper = "IQRA"
print(upper.isupper())

False
True

# ISNUMERIC

In [123]:
number1 = "00ab"
number2 = "123"
print(number1.isnumeric())
print(number2.isnumeric())

False
True

# ISPRINTABLE

In [126]:
string= "My name is iqra"
string1 = " My name is \n iqra"
print(string.isprintable())  
print(string1.isprintable())

True
False

# ISSPACE

In [130]:
space1 = " "
space2 = "\n \t"
space3 = "\t \v"
nO_space = "IQS"
print(space1.isspace()) 
print(space2.isspace())
print(space3.isspace())
print(nO_space.isspace())

True
True
True
False

# ISTITLE

In [134]:
t1 = "my Name is Iqra"
t2 = "My Name Is Iqra"
print(t1.istitle())
print(t2.istitle())

False
True

# JOIN

In [137]:
str2 = ['0', '3', '5']
str1 = ["IQS", "ABBASI"]
J = "-"
print(J.join(str1))
print(J.join(str2))

IQS-ABBASI
0-3-5

# ISTRIP

In [140]:
s2 = "LAMBORGHINI"
print(s2.lstrip("LAMBOR"))

GHINI

# PARTITION

In [142]:
s3 = "PROGRAMMING IS FUN"
print(s3.partition('IS'))

('PROGRAMMING ', 'IS', ' FUN')

# RFIND

In [144]:

print(s3)
s4 = "is this is"
print(s3.rfind("IS")) 
print(s4.rfind("is"))

PROGRAMMING IS FUN
12
8

# RINDEX

In [146]:
print(s3.rindex('IS'))

12

# RJUST

In [148]:
print(s3.rjust(40,"ðŸš«"))

ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«ðŸš«PROGRAMMING IS FUN

# RPARTITION

In [150]:
print(s3)
print(s3.rpartition("IS"))

PROGRAMMING IS FUN
('PROGRAMMING ', 'IS', ' FUN')

# RSPLIT

In [156]:

print(s3.split("IS",1))

['PROGRAMMING ', ' FUN']

# splitlines

In [160]:
s4= "PYTHON \n programming \n"
print(s4.splitlines(0))
print(s4.splitlines(1)) 
print(s4.splitlines()) 
s5= "PYTHON programming"
print(s5.splitlines())

['PYTHON ', ' programming ']
['PYTHON \n', ' programming \n']
['PYTHON ', ' programming ']
['PYTHON programming']

# STARTSWITH

In [161]:
print(s4)
print(s4.startswith("PY")) 
print(s4.startswith("NG"))

PYTHON
 programming

True
False

# SWAPCASE

In [162]:
print(name)
print(name.swapcase())

iqra iftikhar
IQRA IFTIKHAR

# TITLE

In [163]:
print(name.title())

Iqra Iftikhar

# ZFILL

In [165]:
num2 ="901"
print(num2.zfill(15))

000000000000901

# IJUST

In [168]:
print(name)
print(name.ljust(50,'â­•'))

iqra iftikhar
iqra iftikharâ­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•â­•

# LOWER

In [171]:
print(s4)
print(s4.lower())

PYTHON
 programming

python
 programming

# UPPER

In [172]:
print(s4)
print(s4.upper())

PYTHON
 programming

PYTHON
 PROGRAMMING

# REPLACE

In [173]:
I3 = 'CHOCLATES'
print(I3.replace("LATES","BAR"))

CHOCBAR

# RSTRIP

In [174]:
print(name)
print(name.rstrip("iftikhar"))

iqra iftikhar
iqra